<div class="row">
  <div class="col s12">
    <a class="link" href="/storage/{{user._id}}">Go back</a>
  </div>
</div>
<div class="row valign-wrapper">
  <div class="col {{#if ownerRights}}s8{{else}}s12{{/if}}">
    <p>Emotion {{emotion.emotion}} from <span class="flow-text">{{user.username}}</span></p>
  </div>
  {{#if ownerRights}}
  <div class="col s4">
    <a class="btn waves-effect waves-light right" href="/storage/{{user._id}}/{{emotion._id}}/delete">Delete</a>
  </div>
  {{/if}}
</div>
{{#if emotion.playlists}}
<div class="row flex">
  {{#each emotion.playlists}}
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list={{itemId}}" frameborder="0"
          allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a class="btn-floating halfway-fab waves-effect waves-light red"
          href="https://www.youtube.com/channel/{{channelId}}" alt='{{title}}' target="_blank"><i class="material-icons"
            title="Watch on youtube">video_library</i></a>
      </div>
      <div class="card-content">
        <p class="card-title">{{title}}</p>
        {{#if description}}
        <p class="card-desc">{{description}}</p>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<div class="row">
  {{#if ownerRights}}
  <div class="col s12 center">
    <p>You didn't generate a playlist</p>
    <a class="waves-effect waves-light btn-large btn btn-red"
      href="/photo/playlist/{{user._id}}/{{emotion._id}}">Generate playlist</a>
  </div>
  {{else}}
  <div class="col s12 center">
    <p>{{user.username}} didn't generate a playlist : (</p>
  </div>
  {{/if}}
</div>
{{/if}}