<div class="row">
  <div class="col s8">
    <p>Your current mood: {{emotion.emotion}}</p>
    <p>Your playlists:</p>
  </div>
</div>
<div class="row">
  {{#each emotion.playlists}}
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <div class="container-iframe">
          <iframe width="360" height="215" src="https://www.youtube.com/embed/videoseries?list={{itemId}}"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <a class="btn-floating halfway-fab waves-effect waves-light red"
          href="https://www.youtube.com/channel/{{channelId}}" alt='{{title}}' target="_blank"><i class="material-icons"
            title="Watch on youtube">video_library</i></a>
      </div>
      <div class="card-content">
        <p>{{title}}</p>
        {{#if description}}
        <p>{{description}}</p>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>